.button {
  width: 296px;
  height: 64px;
  border-radius: 12px;
  background: var(--Orange-100);
  color: var(--White-100);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  @include respond-to(m) {
    width: 100%;
    height: 48px;
    font-size: 14px;
  }

  &:hover {
    background: var(--Orange-80);
  }

  &:active {
    background: var(--Orange-120);
  }
}

.answerButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;

  @include respond-to(t) {
    padding: 0;
  }

  .text {
    position: absolute;
    top: 0;
    left: 12%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8px;

    &:before {
      content: counter(chapter, upper-alpha);
      counter-increment: chapter;
      color: var(--Orange-100);
      font-weight: 600;
    }
  }

  .border {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    background: var(--Black-40);
    z-index: -2;
  }

  svg {
    fill: var(--White-100);
    stroke: var(--Black-40);
    display: block;
    max-height: 72px;
    max-width: calc(100% - 32px);
    @include respond-to(m) {
      height: 56px;
      width: auto;
    }
  }

  &:hover {
    svg {
      fill: var(--White-100);
      stroke: var(--Orange-100);
    }

    &:after {
      background: var(--Black-40);
    }
  }

  &.selected {
    svg {
      fill: var(--Orange-5);
      stroke: var(--Orange-100);
    }

    &:after {
      background: var(--Orange-100);
    }
  }

  &.correct {

    svg {
      animation: blink-correct 5s linear;

      fill: var(--Green-5);
      stroke: var(--Green-100);
    }

    &:after {
      background: var(--Green-100);
    }

    @keyframes blink-correct {
      0% {
        fill: var(--Green-5);
        stroke: var(--Green-100);
      }
      10% {
        fill: var(--Green-5);
        stroke: var(--Green-100);
      }
      11% {
        fill: var(--White-100);
        stroke: var(--Black-40);
      }
      20% {
        fill: var(--White-100);
        stroke: var(--Black-40);
      }
      21% {
        fill: var(--Green-5);
        stroke: var(--Green-100);
      }
      30% {
        fill: var(--Green-5);
        stroke: var(--Green-100);
      }
      31% {
        fill: var(--White-100);
        stroke: var(--Black-40);
      }
      40% {
        fill: var(--White-100);
        stroke: var(--Black-40);
      }
      41% {
        fill: var(--Green-5);
        stroke: var(--Green-100);
      }
      100% {
        fill: var(--Green-5);
        stroke: var(--Green-100);
      }
    }
  }

  &.wrong {
    transition: all 5s cubic-bezier(0, 2, 2, 0);

    svg {
      animation: blink-wrong 3s linear;
      fill: var(--Red-5);
      stroke: var(--Red-100);
    }

    &:after {
      background: var(--Red-100);
    }

    @keyframes blink-wrong {
      0% {
        fill: var(--Red-5);
        stroke: var(--Red-100);
      }
      10% {
        fill: var(--Red-5);
        stroke: var(--Red-100);
      }
      11% {
        fill: var(--White-100);
        stroke: var(--Black-40);
      }
      20% {
        fill: var(--White-100);
        stroke: var(--Black-40);
      }
      21% {
        fill: var(--Red-5);
        stroke: var(--Red-100);
      }
      30% {
        fill: var(--Red-5);
        stroke: var(--Red-100);
      }
      31% {
        fill: var(--White-100);
        stroke: var(--Black-40);
      }
      40% {
        fill: var(--White-100);
        stroke: var(--Black-40);
      }
      41% {
        fill: var(--Red-5);
        stroke: var(--Red-100);
      }
      100% {
        fill: var(--Red-5);
        stroke: var(--Red-100);
      }
    }
  }
}

.menuButton {
  display: none;
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 11;
  @include respond-to(t) {
    display: block;
  }
}

