:root {
  --Orange-120: #E87928;
  --Black-100: #1C1C21;
  --Orange-100: #FF8B37;
  --Green-100: #47D867;
  --Red-100: #EC6259;
  --Black-40: #D0D0D8;
  --Orange-80: #FFAC70;
  --Orange-5: #FFF3EB;
  --Green-5: #E6FAEA;
  --Red-5: #FDEEED;
  --Black-5: #F5F5F7;
  --White-100: #FFFFFF
}



